* {
  background-color: aqua;
}

#a {
  color: red;
}


#b{
    background-color: hotpink;
}

h1 {
  background-color: blueviolet;
}

h2 {
  background-color: chocolate;
}

.abc {
  background-color: darkseagreen;
}

.def {
  background-color: greenyellow;
}

