@import "tailwindcss";

/* Hide scrollbar for all elements */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

:root {
  --primary: #4c191b;
  --secondary: #963d5a;
  --tertiary: #e3daff;
  --text: #c589e8;
  --background: #ecfff8;
}
