#Main {
  width: 1000px;
  height: 1500px;
  margin: 20px auto;
  border: 1px solid #000;
  display: flex;
}

.xyz {
  border: 1px solid #000;
}

#sideBar {
 
}

#mainContent {
  
}

hr {
  width: 80%;
  height: 2px;
  background-color: #000;
}


span{
    margin:0 5px 0 0;
}